.box{
	width: 83%;
	margin: 30px 0px 0px 50px;
}

.tg  {
	border-collapse:collapse;
	border-color:#aaa;
	border-spacing:0;
	width: 75%;
}
.tg td{
	background-color:#fff;
	border-color:#aaa;
	border-style:solid;
	border-width:1px;
	color:#333;
	font-family:Arial, sans-serif;
	font-size:18px;
	overflow:hidden;
	word-break:normal;
}
.tg th{
	background-color:#f38630;
	text-align: center;
	border-color:#aaa;
	border-style:solid;
	border-width:1px;
	color:#eee;
	font-family:Arial, sans-serif;
	font-size:17px;
	font-weight:600;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}
.tg .tgKp8h {
	background-color:#FCFBE3;
	border-color:inherit;
	font-size:18px;
	text-align:left;
	vertical-align:top;
}

.tg .tgFuxe{
	border-color:inherit;
	font-size:18px;
	text-align:left;
	vertical-align:top;
}

.heading {
	font-size: 30px;
}