body {
  margin: 0;
  padding: 0;
  background-color: #202021;
}
.switch {
  position: absolute;
  right: 0;
  margin: 1.5% 2.5%;
}
#head {
  text-align: center;
  color: aliceblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
